#valine-vuepress-comment .veditor {
  min-height: 10rem;
  background-image: url(https://gitee.com/wugenqiang/PictureBed/raw/master/CS-Notes/20200425091751.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(255,255,255,0);
  resize: none;
}

.vat {
  color: #49B1F5 !important;
  font-size: 14px !important;
}
.vpower.txt-right {
  display: none;
}


#valine-vuepress-comment {
  max-width 740px
  padding 10px
  display block;
  margin-left auto;
  margin-right auto;
}

